Flask==2.2.5
Werkzeug==2.2.3
flask-cors
python-socketio
eventlet
gunicorn
supabase
python-dotenv
textblob==0.17.1
redis
requests
pydantic
Flask-Limiter==3.5.0
better-profanity==0.7.0
langdetect==1.0.9
nltk==3.8.1
